{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header{
    height: 75px;
    position: relative;
    border-top: 2px solid;
    border-color: lightgray;
}

#logo{
    line-height: 75px;
}
img{
    vertical-align: middle;
}
h1{
    display: inline;
    vertical-align: middle;
}

.buttons{
    padding: 20px 0 20px 0;
}
#main{
    background-color: lightgray;
    height: 100vh;
    position: relative;
}
#main2{
    height: 650px;
    width: 1000px;
    background-color: rgb(247, 247, 247);
    border-radius: 1%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}
#main2header{
    height: 60px;
    border-bottom: 1px solid;
    border-color:  lightgray;
}
.green{
    color: green;
}
.tag bg-blue{
    color: white;
    line-height: 10px;
}




