#header{
    height: 75px;
    position: relative;
    border-top: 2px solid;
    border-color: lightgray;
}
#logo{
    position: absolute;
}
#imglogo{
    position: absolute;
    top: 10px;
}
.Toboofont{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 75px;
}
#main{
    background-color: lightgray;
    height: 100vh;
    position: relative;
}
#main2{
    height: 650px;
    width: 1000px;
    background-color: rgb(247, 247, 247);
    border-radius: 1%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}
#main2header{
    height: 60px;
    border-bottom: 1px solid;
    border-color:  lightgray;
}
