*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cursive; 
    background-color: gray;
}

#header{
    height: 75px;
    border-top: 2px solid;
    border-color: lightgray; 
    background-color: white;
}
#logo{
    line-height: 75px;
    margin-left: 20px;
}
img{
    vertical-align: middle;
}
h1{
    display: inline;
    vertical-align: middle;
}

.buttons{
    padding: 20px 0 20px 0;
    padding-left: 50px;
}
.button1{
    background-color: lightblue;
    color: white;
    border-radius: 15%;
    line-height: 20px;
    border-color: lightblue;
}
.button2{
    background-color:lightgray;
    color:gray;
    border-radius: 15%;
    border: 1px solid;
    border-color: lightgray;
    line-height: 20px;
}


#main{
    width: 1000px;
    background-color: rgb(247, 247, 247);
    border-radius: 1%;
    margin: 50px auto;
    padding-bottom: 20px;
}
#main2header{
    height: 60px;
    border-bottom: 1px solid;
    border-color:  lightgray;

}
.green{
    color: green;
    border: 1px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}
.red{
    color: red;
    border: 1px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center; 
    display: inline-block;
    font-size: 10px;
}
.tag{
    color: white;
    line-height: 10px;
    font-size: 10px;
    padding: 5px;
    border-radius: 10px;
}
.bg-lightblue{
    background-color: lightblue;
}
.bg-viola{
    background-color: purple;
}
.bg-green{
    background-color: green;
}
ul{
    list-style: none;
    margin-bottom: 20px;
}
li{
    margin: 15px;
    padding-left: 50px;
}


